*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 90%;
}

.contain {}

label {
    display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    width: 100%;
    padding: 5px;
}

button {
    display: block;
}